!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %title= 'Jared Hoyt - Resume'

    = stylesheet_link_tag 'application.min'
    = javascript_include_tag  'application.min'

  %body{ class: page_classes }
    = yield
