.position
  %h3 Senior Developer, Acumen Brands
  %time 2013 - 2015

  %ul
    %li
      Developed and maintained a large monolithic Rails application that powered several
      large e-commerce brands, including Country Outfitter and Maple &amp; West
    %li
      Migrated all frontend assets onto a new pipeline for dependency management and compilation
    %li
      Extensively utilized A/B testing to measure and improve engagement and conversion
    %li
      Engaged stakeholders to gather complex business needs and architect appropriate technical solutions
    %li
      Engineered a documentation engine to formalize and promote a company-wide styleguide

  %p.technologies
    Ruby, Rails, CI/CD, Cucumber, HAML, SASS, JavaScript, jQuery, Backbone
