.position
  %h3
    Goldstar
    %span Senior Engineer
  %time Apr 2015 - Dec 2021

  %p
    Senior member of the back-end engineering team responsible for a diverse set of
    3rd-party API and data integrations

  %ul
    %li
      Architected the backend of a company-wide strategic initiative developed over a 12-month period
      to create a bi-directional seamless API integration with enterprise value worth $1m+ annually
    %li
      :markdown
        Re-designed and implemented **Elasticsearch**-based faceted search back end used to power main user
        experience across Web, Mobile and API Partners, responsible for $50m+ in gross revenue annually
    %li
      Won award for contributions (mainly math proofs) to AI Recommendation Engine (Ticketing Business Forum's
      INSIGHTS &amp; ANALYTICS AWARD)
    %li
      Created open source project Keymaster which was used across 10 macro services to secure APIs with JWTs
    %li
      Authored multiple OSS libraries for managing tedious aspects of API integrations

  %p.technologies
    Ruby, Rails, CI/CD, GraphQL, Elasticsearch, Docker, AWS, SaaS
