.position
  %h3
    KPMG via Goldstar (COVID Pandemic)
    %span Consultant

  %p
    Worked on a consulting team while at Goldstar to re-architect a fintech platform for KPMG

  %ul
    %li
      Designed and implemented a core interoperable framework for integrating multiple
      fintech APIs, including Plaid and Finicity

  %p.technologies
    Ruby, Rails, CI/CD, Docker
