.position
  %h3 Technology Architect, Rockfish Interactive
  %time 2011 - 2013

  %ul
    %li
      Provided technical direction during early stages of project planning and mentored
      junior developers to promote design patterns and best practices
    %li
      Advanced new technologies, such as git and ruby, and defined company-wide coding
      standards with a small team of architects
    %li
      Sole frontend developer for the 2011 Walmart Shareholder's Meeting that served real-time,
      moderated social media feeds and live video to 12,000 concurrent users
    %li
      Co-developed the Teacher and Student Advancement Portal for the National Institute for
      Excellence in Teaching as the company's first ruby project

  %p.technologies
    C#, PHP, Drupal, Joomla, Python, Ruby, JavaScript, jQuery, Git, Mercurial, SVN
