.position
  %h3
    Rockfish Interactive
    %span Technology Architect
  %time May 2011 - Aug 2013

  %p
    :markdown
      Part of a small team of architects that provided technical direction during early
      stages of project planning, mentored junior developers, defined company-wide coding
      standards and best practices, and advanced new technologies such as **Git** and **Ruby**

  %ul
    %li
      Sole front-end developer for the 2011 Walmart Shareholder's Meeting that served real-time,
      moderated social media feeds and live video to 12,000 concurrent users
    %li
      :markdown
        Co-developed the Teacher and Student Advancement Portal for the National Institute for
        Excellence in Teaching as the company's first **Ruby** project

  %p.technologies
    C#, PHP, Drupal, Joomla, Python, Ruby, JavaScript, jQuery, Git, Mercurial, SVN
