.position
  %h3 Staff Engineer, Stellar Tickets
  %time 2020 - Present

  %p
    Part of a small cross functional team responsible for the startup of Stellar at Goldstar and eventual
    spin-off of Stellar from Goldstar. Senior most individual contributor of the backend team working
    across Ruby on Rails, Python and cloud-native AWS solutions.

  %ul
    %li
      Architected and implemented the core feature of the platform: conditional access at CDN edge for both
      live and on-demand video in serverless Python which scaled beyond 37,000 concurrent live viewers
    %li
      Led the introduction of Elixir at Stellar and implemented a socket based messaging protocol used to
      re-write “twitch” style chat (replaced a $1500/mo manually scaled IRC based system with a dynamically
      scaling solution that decreased costs 10x)
    %li
      Architected and collaborated on implementation of real-time time-series analytics using Elasticsearch,
      Kinesis, Lambda, and GraphQL
    %li
      Developed a global video ingest networking solution in AWS, going from concept to production in less
      than 10 business days, using Cloudfront reverse proxies
    %li
      Collaborated with Design and Frontend Engineers to implement multi-tenant faceted search across multiple
      data structures with Elasticsearch including real-time reindexing
    %li
      Design and implemented an elegant solution to GDPR and CCPA-compliant PII data redactions (across databases, events,
      structured data, integrations, and data backups) that prioritized transparent and easy to implement data
      governance over making a mess

  %p.technologies
    Ruby, Elixir, GraphQL, AWS, Docker, Elasticsearch, OpenTelemetry, Event Sourcing, CQRS, Lambda, Python
