.position
  %h3 Senior Developer, Tekniq Data
  %time 2008 - 2011

  %ul
    %li
      Consulted with clients to understand internal processes and conceptualize
      solutions to improve efficiency and capability
    %li
      Responsible for full project life-cycle including requirements gathering,
      architecture, implementation, and deployment
    %li
      Researched and introduced emerging technologies to streamline team development,
      including git, CakePHP, and jQuery
    %li
      Created a custom ERP for a manufacturing company that integrated with Microsoft Dynamics
      and provided an automated role-based, task-driven workflow
    %li
      Integrated a logistics application with freight APIs that allowed several employees to
      be reassigned new roles due to increased efficiency in shipment tracking

  %p.technologies
    PHP, CakePHP, HTML, CSS, JavaScript, jQuery, Postgres
