.position
  %h3
    Tekniq Data
    %span Senior Developer
  %time Dec 2008 - Apr 2011

  %p
    :markdown
      Designed and implemented applications across a wide range of business domains
      to improve efficiency and reduce client costs. Led adoption of new core
      technologies, including **Git**, **CakePHP**, and **jQuery**.

  %p.technologies
    PHP, CakePHP, HTML, CSS, JavaScript, jQuery, Postgres, Microsoft Dynamics, Git
