.position
  %h3 Senior Developer, YouEarnedIt
  %time 2012 - 2013

  %ul
    %li
      Sole frontend developer on a small team that successfully created and spun out an
      internal employee engagement and recognition app into a profitable SaaS product

  %p.technologies
    C#, PHP, HTML, CSS, JavaScript, jQuery
