.position
  %h3
    YouEarnedIt
    %span Senior Developer
  %time 2012 - 2013

  %p
    Sole front-end developer on a small team that successfully created and spun out an
    internal employee engagement and recognition app into a profitable SaaS product

  %p.technologies
    C#, PHP, HTML, CSS, JavaScript, jQuery
