/* line 3, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/sections/experience.sass */
#resume section.experience .technologies {
  font-size: 0.9em;
  font-style: italic; }
/* line 6, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/sections/experience.sass */
#resume section.experience ul {
  font-size: 0.9em;
  padding: 0; }
  /* line 9, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/sections/experience.sass */
  #resume section.experience ul::before {
    display: block;
    font-style: italic;
    margin-bottom: 15px; }
  /* line 13, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/sections/experience.sass */
  #resume section.experience ul.responsibilities::before {
    content: "Responsibilities:"; }
  /* line 15, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/sections/experience.sass */
  #resume section.experience ul.accomplishments::before {
    content: "Accomplishments:"; }
  /* line 17, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/sections/experience.sass */
  #resume section.experience ul li {
    line-height: 1.4em;
    margin-bottom: 5px;
    margin-left: 35px;
    max-width: 85%; }
