/* line 1, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/layouts/default.sass */
body {
  background: #fff;
  color: #666;
  font: Helvetica, Arial, sans-serif;
  padding-bottom: 30px; }
  /* line 6, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/layouts/default.sass */
  body .inner {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    width: 960px; }
    /* line 12, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/layouts/default.sass */
    body .inner h2 {
      border-bottom: 1px solid #ddd;
      color: #333;
      margin: 0 0 20px;
      padding-bottom: 5px; }
    /* line 17, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/layouts/default.sass */
    body .inner h3 {
      color: #474747;
      margin: 0;
      position: relative; }
    /* line 21, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/layouts/default.sass */
    body .inner time {
      color: #0F9DF4;
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      right: 0;
      text-transform: uppercase;
      top: 0; }
  /* line 29, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/layouts/default.sass */
  body section {
    padding-top: 15px; }
    /* line 31, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/layouts/default.sass */
    body section .position {
      position: relative; }
      /* line 33, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/layouts/default.sass */
      body section .position + .position {
        border-top: 1px solid #ddd;
        margin-top: 20px;
        padding-top: 20px; }
        /* line 37, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/layouts/default.sass */
        body section .position + .position time {
          top: 20px; }
      /* line 39, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/layouts/default.sass */
      body section .position h3 {
        position: relative; }
        /* line 41, /Users/jhoyt/src/jaredhoyt/resume/source/assets/stylesheets/layouts/default.sass */
        body section .position h3::before {
          color: #0F9DF4;
          content: "///";
          font-size: 16px;
          left: -1.2em;
          position: absolute;
          top: 1px; }
