%header
  .inner
    %img{ src: '//gravatar.com/avatar/9634f0c8aa1d34657eb439e5e8dbfb88?v=3&s=130' }

    %h1 Jared Hoyt
    %p Full-stack ruby developer currently living in Northwest Arkansas

    .contact
      %span.phone 479.684.8171
      = link_to 'jaredhoyt@gmail.com', 'mailto:jaredhoyt@gmail.com', class: 'email'
      = link_to 'github.com/jaredhoyt', '//github.com/jaredhoyt', target: '_blank', class: 'github'
