%section.experience
  .inner
    %h2 Work Experience

    .position
      %h3 Acumen Brands
      %small Senior Developer
      %time August 2013 - Present

      %ul.responsibilities
        %li Develop features and maintain existing code on a large monolithic Rails application.
        %li Engage stakeholders to intuit business goals and conceptualize appropriate solutions.
        %li Architect and implement code using a TDD, pair-programming, and Kanban workflow.
        %li Create A/B tests to gauge customer response to potential features.
        %li Peer-review code to ensure quality and adherence to best practices.

      %ul.accomplishments
        %li
          Developed a styleguide engine that utilized stylesheet comment parsing and Markdown templates
          to generate an interactive styleguide similar to GitHub's.
        %li
          Migrated a legacy monorail onto the Asset Pipeline which included a fundamental re-architecture
          of all application assets.

      %p.technologies
        ruby, ruby on rails, rspec, cucumber, haml, sass, javascript, jquery, backbone.js, tmux, vim, git,
        pair-programming

    .position
      %h3 Rockfish Interactive
      %small Technology Architect
      %time May 2013 - August 2013

      %ul.responsibilities
        %li Identify and advance new technologies into Rockfish's core competencies.
        %li Assist in defining company-wide code standards and best practices.
        %li Provide technical direction during the beginning of projects.
        %li Develop small, reusable applications to establish a company-wide toolkit.
        %li Mentor junior developers to promote critical thinking and propagate best practices.

      %ul.accomplishments
        %li
          Lead development on the Teacher and Student Advancement Portal for the National Institute
          for Excellence in Teaching. The project introduced Ruby on Rails and TDD as company
          competencies and included a complex role-based access control system that allowed
          administrators to manage schools and teachers on a national level.

      %p.technologies
        ruby, ruby on rails, haml, sass, javascript, jquery, c#, .net mvc, git

    .position
      %h3 YouEarnedIt
      %small Senior Developer
      %time December 2011 - April 2013

      %ul.responsibilities
        %li Lead front-end development for an employee engagement and recognition platform.
        %li Help lead Scrum story-carding and prioritization meetings.
        %li Set standards and conventions for front-end architecture.
        %li Peer-review code to ensure quality and adherence to best practices.

      %ul.accomplishments
        %li Developed an administration portal for managing customer accounts and payments.
        %li Created a custom, minimal theme for a customer-facing Wordpress blog.
        %li
          Authored multiple jQuery plugins for form validation, modals, notifications, and
          asynchronous file uploads that were extracted and used on future applications.

      %p.technologies
        c#, php, wordpress, html, css, javascript, jquery, git

    .position
      %h3 Rockfish Interactive
      %small Senior Developer
      %time May 2011 - December 2011

      %ul.responsibilities
        %li Assist multiple developer teams across a variety of agency projects.
        %li Provide technical direction during early stages of project lifecycle.
        %li Implement interfaces delivered by design and ux teams.
        %li Engage clients for iteration feedback and direction.

      %ul.accomplishments
        %li Introduced git as an alternative vcs to SVN, Mercurial, and Visual SourceSafe.
        %li Authored friendly, company-wide git tutorials and workflow documentation.
        %li
          Lead front-end development for the 2011 Walmart Shareholder's Meeting that served
          real-time, moderated social media feeds and live video to 12,000 concurrent users.

      %p.technologies
        c#, php, drupal, joomla, python, html, css, less, javascript, jquery, git, mercurial, svn

    .position
      %h3 Tekniq Data
      %small Senior Developer
      %time December 2008 - April 2011

      %ul.responsibilities
        %li
          Consult with clients to understand internal processes and conceptualize
          solutions to improve efficiency and capability.
        %li
          Responsible for full project lifecycle including requirements gathering,
          architecture, implementation, and deployment.
        %li
          Improve and document team technology standards and best practices.

      %ul.accomplishments
        %li Lead development on a custom CMS for a convention and visitors bureau.
        %li
          Created a custom ERP for a manufacturing company that integrated with Microsoft Dynamics
          and provided an automated role-based, task-driven workflow.
        %li
          Integrated a logistics application with several freight APIs that allowed several
          employees to be reassigned new roles due to increased efficiency in shipment tracking.
        %li
          Migrated team from procedural PHP to creating CakePHP and jQuery applications.
        %li
          Transitioned team from a complex FTP checkout/backup workflow to using git for
          versioning and deployment.

      %p.technologies
        php, cakephp, html, css, javascript, jquery, postgres, git

    .position
      %h3 John LaTour, CPA
      %small Developer
      %time 2003 - 2008

      %ul.responsibilities
        %li Design and develop marketing sites for local clients.
        %li Maintain hosting environments for both IIS and Apache.

      %ul.accomplishments
        %li Authored a widely used open-source CakePHP plugin for multi-page forms.
        %li Developed an e-commerce application using CakePHP and jQuery.

      %p.technologies
        php, cakephp, html, css, javascript, jquery, mysql
