%section.summary
  .inner
    %p
      Dedicated software developer with 15+ years experience and extensive knowledge in
      API design and integration, systems architecture, and design patterns. Proficient in
      an assortment of technologies, including Ruby, GraphQL, Elasticsearch, and AWS. Adept
      in handling complex domains with innovative problem-solving. Able to effectively
      self-manage during independent projects, as well as collaborate in a team setting.
